.header {
  .ui.block.header {
    background: $red;
    color: $orange;
    padding: 1.5rem 1rem;
    border: none;
  }

  .ui.sub.header {
    color: $orange;
    text-align: center;
    font-size: 1em;
  }
}
